body {
  background-color: #423E4F;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: white;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: white;
}

video {
    width: 400px;
    border: 1px solid #000;
}

button {
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#chat {
    margin: 10px;
}

#messages {
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
}

#chatInput {
    width: 300px;
    padding: 5px;
}
